@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root{
    --font: 'Outfit', sans-serif;
    --desc-clr: hsl(220, 15%, 55%);
    --body-clr:hsl(212, 45%, 89%);
    --heading-clr:hsl(218, 44%, 22%);
    --container-clr:hsl(0, 0%, 100%);
}

*{
    margin: 0;
    box-sizing: border-box;
}
img,picture{
    display: block;
    max-width: 100%;
    border-radius: 1rem;
}
body{
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: var(--body-clr);
    font-family: var(--font);
    text-align: center;
}

.main-container{
    display: flex;
    flex-direction: column;
    background-color: var(--container-clr);
    border-radius: 1rem;
    overflow: hidden;
    padding: 1.5rem 1.5rem 2.5rem 1.5rem;
    gap: 1.5rem;
    place-items: center;
    margin: 1rem;
}

h1{
    font-weight: 700;
    font-size: 1.5rem;
    padding-inline: 1rem;
    color: var(--heading-clr);
}

p{
    color: var(--desc-clr);
    padding-inline: 1rem;
}

@media (min-width: 450px){
    .main-container{
        max-width: 370px;
    }
}